body{
    width: 70%;
    margin: auto;
}
h1{
    font-size: 32px;
}
h1, h2{
    margin-top: 1.5em;
    font-family: sans-serif;
}
table, th, td{
    border: 1px solid black;
}
figcaption{
    font-style: italic;
}
img{
    float: right;
}