body{
    width: 70%;
    margin: auto;
    background: black;
    color: white;
}
h1{
    font-size: 32px;
}
h1, h2{
    margin-top: 1.5em;
    font-family: sans-serif;
    color: orange;
}
table, th, td{
    border: 1px solid white;
}
figcaption{
    font-style: italic;
}
img{
    float: right;
}
a {
    color: orange;
    text-decoration: none;
}
li {
    color: orange;
}
ul li {
    list-style-type: none; 
    cursor: zoom-in;
   }
ul li:before{
    content: "✩";
    padding-right: 10px;
}
li span {
    color: white;
    
}
figcaption{
    clear: right;
    float: right;
    color: aqua;
    font-size:14px ; 
    font-style: italic; 
    text-align: center
}